

@import"./components/side-left";
@import"./components/header";
@import"./components/about";
@import"./components/main";
@import"./components/donation-container";
@import"./components/footer";

body{
    background-color: #e8e3e3;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.about{
    .story{
        padding-left: 30px;

    }
}
.container{
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    grid-template-areas: 'side-left header'
    'side-left about'
    'side-left main'
    'side-left donation-container'
    'footer footer';
    gap: 10px;
  

}
