body {  
    font-family: $font-family;  
    margin: 0;  
    padding: 0;  
    background-color: $secondary-color;  
}  
@media (max-width: 1024px) {  
    body {  
        padding: 5px;  
    }  
} 