.content {
  grid-area: content;
    .main-content {
      flex: 2;
      // padding: 20px;
      background-color: rgb(228, 225, 223);
      // background-color: $bg-color-header;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
      .recommended,
      .categories {
        margin-bottom: 30px;
      }
  
      .book-cards,
      .category-cards {
        display: flex;
        gap: 20px;
      }
      .book-cards{
        justify-content: center;
      }
  
      .book-card {
        text-align: center;
        cursor: pointer;
        background-color: #ddebdc;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        transition: all 0.3s ease;
        flex-wrap: nowrap;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        margin-top: 20px;
        gap: 1px;
  
        &:hover {
          transform: scale(1.05);
        }
  
        img {
          width: 100%;
          height: 330px;
          object-fit: cover;
        }
  
        .title {
          margin-top: 10px;
        }
  
        .g-icon {
          color: gold;
        }
      }
    }
  }
    
@media (max-width: 1024px) {
  .main-content {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    
  }
  .book-cards{
    flex-wrap: wrap;
    // align-items: center;
    justify-content: center;  
    .book-card {
      width: 46%;
      img{
        width: 100%;
        object-fit: cover;
      }
    }
  }

}

    