main {  
    grid-area: main;


    .hero {  
        text-align: center;  
        margin-bottom: 15px;  
        background-color: $primary-color;

        h1 {  
            font-size: 3em; 
            color: $section-color; 
        } 
        p{
            font-size: 1.5em;
            color: #555;
        }   
        
        button { 
            // margin-top: 5px;  
            padding: 10px;  
            background-color: $section-color;  
            border: none;  
            border-radius: 5px;   
            a{
                text-decoration: none; 
                color: $primary-color;                         
               &:hover {   
                 text-decoration: underline; 
                }
                   
            } 
            &:hover {  
                background-color: $section-color;
            }
        }  
    }
    img{
        width: 70%;
        
    } 

    .opening-hours{
        display: flex;
        justify-content: center;
        align-items: center;
        .our{
            margin-top: 0;
        }
    }
    
    
    @media (max-width: 1024px) {  
        .opening-hours {  
            margin-top: 5px; 
            display: flex;
            justify-content: right;
            align-items: end;
            .our {
                font-size: 13px;  
                margin-top: 10px; 
                margin-top: -10px;
            } 
        }  
    
        
        .image{
            img{
                width: 280px;
                height: 200px;
                
            }
        } 
    
        .hero {  
            h1 {  
                font-size: 1.5em; 
            }  
            p{
                font-size: 0.8em;
            }   
            img{
                width: 60%;
            } 
        }  
    }
    @media (max-width: 600px) {  
        .opening-hours {  
            margin-top: 5px; 
            display: flex;
            justify-content: right;
            align-items: end;
            .our {
                 
                margin-top: 10px; 
                margin-top: 10px;
                h2{
                    font-size: 8px; 
                }
                h4{
                    font-size: 7px; 
                }
                p{
                    font-size: 6px; 
                }
            } 
        }  
    
        
        .image{
            img{
                width: 150px;   
                height: 100px;         
            }
        } 
    
        .hero {  
            h1 {  
                font-size: 1.5em; 
            }  
            img{
                width: 70%;
            } 
        }  
    }  
    .recommended {  
        background-color: $primary-color;
        padding: 20px;  
        border-radius: 8px;  
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  
        
        h2 {  
            text-align: center;  
            color: $section-color;   
            margin-bottom: 20px;  
        }  
    
        .book-list {  
            display: flex;  
            justify-content: space-around; 
            flex-wrap: wrap;  
        }  
    
        .book {  
            
            background-color: $primary-color;
            border-radius: 5px;  
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);  
            margin: 10px;  
            text-align: center;  
            width: 150px; 
    
            .img-book {  
                width: 100%; 
                border-top-left-radius: 5px;  
                border-top-right-radius: 5px;  
                transition: transform 0.3s;
            }  
    
            .name-book {  
                padding: 10px;
                background-color: $primary-color; 
                width: 200px;
                height: 20vh;
                display: contents;
                         
    
                h4 {  
                    font-size: 1.1em; 
                    color: #34495e; 
                    margin: 0;  
                }  
    
                p {  
                    font-size: 0.9em;  
                    color: #7f8c8d;   
                    margin: 5px 0 0;  
                }  
            }  
        }  
    }
    @media (max-width: 1024px) {  
        .recommended {  
            padding: 15px;   
            
            h2 {  
                font-size: 1.5em; 
            }  
    
            .book-list {  
                justify-content: center; 
            }  
    
            .book {  
                width: 100%; 
                max-width: 150px; 
                margin: 10px 0;   
            }  
    
            .name-book {  
                width: 100%; 
                height: auto; 
            }  
        }  
    } 
    @media (max-width: 600px) {  
        .recommended {  
            background-color: $primary-color;
            padding: 20px;  
            border-radius: 8px;  
            
            h2 {  
                text-align: center;  
                color: $section-color;   
                margin-bottom: 20px;  
            }  
        
            .book-list {  
                display: flex;  
                justify-content: space-around; 
                flex-wrap: wrap;  
            }  
        
            .book {  
                
                background-color: #fff;
                border-radius: 5px;  
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);  
                margin: 10px;  
                text-align: center;  
                width: 150px; 
        
                .img-book {  
                    width: 100%; 
                    border-top-left-radius: 5px;  
                    border-top-right-radius: 5px;  
                    transition: transform 0.3s;
                }  
        
                .name-book {  
                    padding: 10px;
                    background-color: $primary-color; 
                    width: 200px;
                    height: 20vh;
                    display: contents;
                             
        
                    h4 {  
                        font-size: 1.1em; 
                        color: #34495e; 
                        margin: 0;  
                    }  
        
                    p {  
                        font-size: 0.9em;  
                        color: #7f8c8d;   
                        margin: 5px 0 0;  
                    }  
                }  
            }    
        }  
    } 
    .categories {  
        padding: 20px;  
        background-color: $primary-color;  
    
        h2 {  
            text-align: center;  
            color: $section-color;  
            margin-bottom: 20px;  
        }  
    
        .category-list {  
            display: flex;  
            justify-content: space-around;  
            flex-wrap: wrap;
            display: flex; 
            justify-content: center;
            align-items: center; 
            gap: 50px;          
            .category {  
                background: #fff;  
                border: 1px solid #ddd;  
                border-radius: 20px;  
                padding: 10px;   
                margin: 10px;  
                width: 250px;  
                transition: transform 0.3s;  
                display: flex;
                justify-content: center;
                align-items: center;
                
    
                &:hover {  
                    transform: scale(1.05);  
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
                }  
    
                .list {  
                    width: 170px;  
                    height: auto;  
                    margin-bottom: 10px;  
                    transition: 0.3s;
                }  
    
                .n-book {  
                    font-weight: bold;  
                    color: #555; 
                    font-size: 13px; 
                } 
                .list:hover{
                            transform: translateX(20px);
                            }
                .n-book:hover{
                            transform: translateX(-20px);                               
                            color: #1b8be1;
                            }
            }
            .desing:hover{
                        background-color: #ABD4FB;
                    }
                    .self:hover{
                        background-color: #ff993fd9;
                    }
                    .business:hover{
                        background-color: #E5E3E4;
                    }                    
        }  
    } 
    @media (max-width: 1024px) {  
        .categories {  
            padding: 10px; 
    
            h2 {  
                font-size: 1.5em; 
            }  
    
            .category-list {  
                justify-content: center; 
                gap: 20px; 
    
                .category {  
                    width: 80%; 
                    max-width: 250px; 
                    margin: 10px auto; 
                    padding: 15px;   
    
                    .list {  
                        width: 100%; 
                        margin: 0; 
                    }  
    
                    .n-book {  
                        font-size: 14px;  
                    }  
                    
                }  
            }  
        }  
    }  

    section {  
        margin-bottom: 20px;  
        
        padding: 20px;  
        background-color: white;  
        border-radius: 8px;  
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  

        h2 {  
            color: $section-color;  
        }  
        .book{
            text-align: center;
            transition: 0.5s;   
            .name-book{
                background: #fff;
            }
        }
    }
    .contact-container {  
        padding: 20px;  
        background-color: $secondary-color;
        text-align: center;  
        
        h1 {  
            font-size: 2em;  
            color: $section-color;  
        }  
        
        p {  
             margin-bottom: 20px;  
            color: #7f8c8d;  
        }  
       
        .grid {  
            display: grid;  
            grid-template-columns: repeat(3, 1fr);  
            gap: 20px;  
            .contact-form{
                form{
                    label{
                        text-align: left;
                        color: #1f2121f1;
                    }
                }
            }
            .grid-item {  
                background-color: $primary-color;  
                padding: 10px;  
                 border-radius: 8px;  
                 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
        
                h2 {  
                    font-size: 1.5em;  
                    color: $section-color;  
                }  
        
                p {  
                     margin: 10px 0;  
                }  
        
                a {  
                    color: #2980b9;  
                    text-decoration: none;  
                }  
        
                form {  
                    width: 100%   ;
                    display: flex;  
                    flex-direction: column;  
        
                    label {  
                         margin-top: 10px;  
                        font-weight: bold;  
                    }  
        
                    input, textarea {  
                        margin-top: 5px;  
                        padding: 10px;  
                        border: 1px solid #bdc3c7;  
                        border-radius: 4px;  
                    }  
        
                    button {  
                        margin-top: 15px;  
                        padding: 10px;  
                        background-color: #1abc9c;  
                        color: white;  
                        border: none;  
                        border-radius: 4px;  
                        cursor: pointer;  
        
                        &:hover {  
                             background-color: #16a085;  
                        }  
                    }  
                }  
            }  
        }  
          
    }  
    @media (max-width: 1024px) {  
        section {  
            padding: 15px;  
        }  
    
        .contact-container {  
            padding: 15px; 
            h1 {  
                font-size: 1.5em;   
            }  
    
            p {  
                font-size: 0.9em;  
            }  
    
            .grid {  
                grid-template-columns: 1fr; 
                gap: 10px; 
    
                .grid-item {  
                    padding: 15px;   
                    h2 {  
                        font-size: 1.3em; 
                    }  
                }  
            }  
        }  
    } 
    @media (max-width: 600px) {  
        main {  
            section {  
                padding: 10px; 
                h1 {  
                    font-size: 24px; 
                }  
                p {  
                    font-size: 16px;  
                }  
            }  
        }  
    }   
} 
.book-list{
    .rowling:hover{
        background-color: #6b348877; 
    }
    .cottrell:hover{
        background-color: #F09121;
    }
    .brands:hover{
        background-color: #FBB09D;  
    }
    .lumler:hover{
        background-color: #15B56A; 
    }
    .magorian:hover{
        background-color: #94CAE2;
    }
    .book{
        .img-book:hover{
            transform: translateY(-30px);
                     
        }   
    }
}
