$primary-color: #fff;  
$secondary-color: #f4f4f4;  
$section-color: #269B8E;
$text-color: #000;  
$search-color: #e0f7fa;  
$border-color: #b0bec5;  
$icon-color: #657f8d;
$font-family: 'Arial', sans-serif;  