.donation-container {
    margin-top: 20px;
    grid-area: donation-container;
    margin-left:22%;
    margin-right: 3%;
    box-shadow: #00000026 2.4px 2.4px 3.2px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    h1 {
        text-align: center;
        color: #16a085;
        margin-bottom: 20px;
    }
    .donation-form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-bottom: 20px;

        label {
            font-weight: bold;
            color: #333;
        }

        input[type="text"],
        input[type="email"],
        input[type="number"] {
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 98%;
        }

        .donation-options {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            input[type="radio"] {
                margin-right: 5px;
            }
            .other-amount {
                flex-grow: 1;
            }
        }
        .checkbox-options {
            display: flex;
            label {
                margin-right: 40px;
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }

        button {
            padding: 12px;
            background-color: #007BFF;
            color: white;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #0056b3;
            }
        }
    }
}
@media (max-width: 1024px) {
   
    .donation-container {
        margin-right: 11%;
        margin-left: 29.5%;
    
        .donation-form {
    
            input[type="text"],
            input[type="email"],
            input[type="number"] {
                width: 96%;
            }
        }
    }
}
@media (max-width: 600px) {
    
    .donation-container {
        margin-right: 10.5%;
        margin-left: 28.5%;
    
        .donation-form {
            font-size: 10px;
    
            input[type="text"],
            input[type="email"],
            input[type="number"] {
                width: 96%;
                font-size: 10px;
            }
        }
    }
}
   