.footer {  
    position: relative;
    z-index: 1001; 
    grid-area: footer;
    background-color: #333;   
    color: #fff;  
    padding: 20px 0;
    text-align: center;  
    margin-top: 15px;
    .footer-container {  
        display: grid;  
        grid-template-columns: repeat(3, 1fr);  
        gap: 20px;  
        max-width: 1200px;  
        margin: 0 auto;  
        padding: 0 20px;  
        .footer-section {  
                h3 {  
                margin-bottom: 10px;   
                font-size: 1.2em;   
            }  
    
            p {  
                margin: 5px 0;   
            }  
    
            .social-icons {  
                display: flex;  
                justify-content: center;
                align-items: center;
                gap: 10px;  
                margin-top: 10px;  
            }  
            a {  
                img {  
                        width: 24px; 
                        height: 24px;   
                }  
            }  
    
            ul {  
                list-style: none; 
                padding: 0;  
    
                li {  
                        margin: 5px 0;
                }
    
                a {  
                    color: #fff; 
                        text-decoration: none; 
    
                    &:hover {  
                    text-decoration: underline; 
                    }  
                }  
                .li3{
                    padding-left: 10px;
                }
                
            }  
        } 
    } 
    }  
@media (max-width: 600px) { 

    .footer-container {
        padding-left: 25%;
        grid-template-areas: "contact"
        "location"
        "pages"; 
        .footer-section{
            margin-left: 25%;
            width: 120%;
        }
        .pages{
            display: none;
            grid-area: pages;
        }
        .location{
            grid-area: location ;
        }
        .contact{
            grid-area: contact ;

        }
    }
}