main{
    grid-area: main;
    display: grid;
    margin-top: 10px;
    width: 85%;
    margin-left: 17%;
    .mission{
        text-align: center;
        margin-top: -15px;
        h1{
            color:#16a085 ;
            margin: 50px -130px; 
        }
    }
    .cards{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -10px;

       .card{
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        padding: 5px;
        text-align: center;
        margin: 10px;
        background: #fff;
        width: 23vw;
        height: 50vh;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
       }
       .card:hover {
        background-color: aquamarine;
        transform: scale(1.05);
        box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 6px;
    }
       .card img{
        width: 170px; 
        height: 170px;
       }
       p{
        color: #616a6b;
        text-align: justify;
        padding: 0px 20px;
       }
       h3{
        margin-top: 5px;
       }
    }
    .value{
        text-align: center;
        margin-top: -15px;
        h1{
            margin: 50px 0px;
            color:#16a085 ;
        }
    }
    .cardss{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -10px;
        .card{
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            text-align: center;
            padding: 5px;
            margin: 10px;
            background: #fff;
            width: 23vw;
            height: 50vh;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
           }
           .card:hover {
            background-color: aquamarine;
            transform: scale(1.05);
            box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 6px;
            }
            .card img{
                width: 170px; 
                height: 170px;
            }
           p{
            margin-top: 15px;
            color: #616a6b ;
            text-align: justify;
            padding:0px 20px;
           }
           h3{
            margin-top: 5px;
           }
           .h3s{
            margin-top:50px;
           }
    
    }
}

@media (max-width: 1024px) {
    .header,
        .side-life,
        .about,
        main,
        .donation-container,
        .cards, .cardss{
            flex-direction: column; 
        }
    .mission{
        .cards{
            .card{
                margin: 25px 0px;
                display: grid;
                grid-template-columns: 1fr 8fr;
                grid-template-areas: "img card-title"
                "img text";
                width: 70%;
                height: 150px;
                align-items: center;
                
                h3{
                    grid-area: card-title;
                    margin-bottom: -30px;
                }
                p{
                    margin-top: -40px;
                    margin: 0;
                    grid-area: text;
                    text-align: center;
                    padding: 0px 40px;
                }
                img{
                    grid-area: img;
                    margin: 0;
                    width: 150px;
                    height: 150px;
                }

            }
        }
    }
    .value{
        .cardss{
            .card4{
                width: 120px;
                height: 120px;
            }
            .card{
                margin: 25px 0px;
                display: grid;
                grid-template-columns: 1fr 8fr;
                grid-template-areas: "img card-title"
                "img text";
                width: 70%;
                height: 150px;
                align-items: center;
                h3{
                    grid-area: card-title;
                }
                p{
                    margin-top: -40px;
                    grid-area: text;
                    text-align: center;
                    padding: 0px 40px;
                }
                img{
                    grid-area: img;
                    margin: 0;
                    width: 150px;
                    height: 150px;
                }
            }
        }
    }
    
}

@media (max-width: 600px) {

    .header,
        .side-life,
        .about,
        main,
        .donation-container,
        .cards, .cardss{
            flex-direction: column; 
           
        }
    .mission{
        .cards{
           .card{
                height: 350px;
                grid-template-columns: 1fr;
                grid-template-areas: "img "
                "card-title"
                "text";
            h3{
                grid-area: card-title;
                margin-top: -120px;
            }
            p{
                margin-top: -80px;
                grid-area: text;
                font-size: 12px;
            }
            img{
                margin-left: 18%;
                grid-area: img;
                text-align: center;
                width: 200px;
                height: 200px;
            }

            }
        }
    }
    .value{
        .cardss{
          
           .card{
                height: 350px;
                grid-template-columns: 1fr;
                grid-template-areas: "img "
                "card-title"
                "text";
            h3{
                grid-area: card-title;
                margin-top: -50px;
            }
            p{
                margin-top: -60px;
                grid-area: text;
                font-size: 12px;
            }
            img{
                margin-left: 18%;
                grid-area: img;
                text-align: center;
                width: 200px;
                height: 200px;
            }

            }
        }
    }
}