main{
    grid-area: main;
    .mission{
        text-align: center;
    }
    h1{
        color:#16a085 ;
    }
    .cards{
        display: flex;
        justify-content: center;
        align-items: center;
       
       .card{
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        padding: 5px;
        text-align: center;
        margin: 10px;
        background: #fff;
        width: 23vw;
        height: 50vh;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
       }
       .card:hover {
        background-color: aquamarine;
        transform: scale(1.05);
        box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 6px;
    }
       .card img{
        margin-top: -15px;
        margin-left: -17px;
    
        // width: 100px;
        // height: 100px;
       }
       .h3s{
        margin-top: -25px;
       }
       p{
        margin-top: -15px;
        color: #616a6b;
        text-align: justify;
        margin-left: 30px;
        

       }
       h3{
        margin-top: -15px;
       }
    }
    .value{
        text-align: center;
    }
    .cardss{
        display: flex;
        justify-content: center;
        align-items: center;
        .card{
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            text-align: center;
            margin: 10px;
            background: #fff;
            width: 23vw;
            height: 50vh;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
           }
           .card:hover {
            background-color: aquamarine;
            transform: scale(1.05);
            box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 6px;
        }
           p{
            margin-top: -10px;
            color: #616a6b ;
            text-align: justify;
            padding-left: 50px;
           }
           h3{
            margin-top: -10px;
           }
           .h3s{
            margin-top: 20px;
           }
    
    }
}
